@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

aside form #btn-submit, .container .card .card-footer a, header nav.buttons ul li#btn-login a {
  color: #012342;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 12px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}
aside form #btn-submit:hover, .container .card .card-footer a:hover, header nav.buttons ul li#btn-login a:hover {
  background-color: #012342;
  border-color: #012342;
  color: white;
  transition: 0.3s;
}

header {
  background-color: #22aeff;
  display: grid;
  grid-template-columns: auto 100px 135px 40px;
}
header nav {
  padding: 20px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-flex;
  padding: 10px;
  margin-left: -4px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
header nav ul li a:hover {
  color: #104564;
}
header nav ul li#title a {
  color: #012342;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
}
header nav.buttons {
  padding-right: 0;
  justify-items: right;
}
header #website-settings {
  justify-items: center;
  align-content: center;
  background-color: #22aeff;
}
header #website-settings #theme-toggle {
  cursor: pointer;
}
header div#hamburguer {
  width: 30px;
  height: 21px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-left: 0;
  cursor: pointer;
}
header div#hamburguer .line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: rotate 0.6s ease-in-out;
}
header div#hamburguer .line.active:nth-child(1) {
  display: none;
}
header div#hamburguer .line.active:nth-child(2) {
  rotate: -45deg;
  margin-top: 15px;
}
header div#hamburguer .line.active:nth-child(3) {
  rotate: 45deg;
}

main {
  background-color: #e4e3e3;
  padding: 20px;
  justify-items: center;
}

h1 {
  color: rgba(0, 0, 0, 0.911);
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .card {
  width: 300px;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(117, 117, 117, 0.37);
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.container .card .card-header {
  color: rgba(0, 0, 0, 0.911);
  font-family: "Montserrat", sans-serif;
}
.container .card .card-body {
  margin: 20px 0;
}
.container .card .card-footer {
  margin-top: 35px;
  margin-bottom: 15px;
}
.container .card .card-footer a {
  font-weight: normal;
}

aside {
  padding: 50px;
  background-color: #104564;
  justify-items: center;
  color: white;
}
aside h2 {
  margin-bottom: 30px;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}
aside form input {
  display: block;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
  border: 3px solid;
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
}
aside form #btn-submit {
  cursor: pointer;
  width: 200px;
  padding: 20px;
  margin-top: 20px;
}

footer {
  padding: 70px;
  background-color: rgba(0, 0, 0, 0.911);
}
footer .container .logo, footer .container .about, footer .container .contacts {
  width: 300px;
  margin: 20px;
  padding: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
}
footer .container .logo h4, footer .container .about h4, footer .container .contacts h4 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
}
footer .container .logo nav ul, footer .container .about nav ul, footer .container .contacts nav ul {
  list-style: none;
}
footer .container .logo nav ul li, footer .container .about nav ul li, footer .container .contacts nav ul li {
  margin: 15px 0;
}
footer .container .logo nav ul li a, footer .container .about nav ul li a, footer .container .contacts nav ul li a {
  text-decoration: none;
  color: white;
}
footer .container .logo nav ul li a:hover, footer .container .about nav ul li a:hover, footer .container .contacts nav ul li a:hover {
  color: #22aeff;
}
footer .container .logo {
  width: 200px;
}
footer p {
  color: white;
}
footer p a {
  color: white;
}

/*** MEDIA QUERIES (RESPONSIVITY) */
@media (max-width: 750px) {
  header div#hamburguer {
    display: flex;
    margin-top: 20px;
  }
  header .menu {
    margin-top: 0;
    max-height: 15px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
  }
  header .menu ul {
    display: flex;
    flex-direction: column;
  }
  header .menu.active {
    max-height: 500px;
    opacity: 1;
  }
  header #website-settings {
    width: 50px;
  }
  header #website-settings #theme-toggle {
    margin-top: -50px;
    margin: 0;
    cursor: pointer;
  }
  aside form input#email {
    width: 100%;
  }
  h1 {
    font-size: 2em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
